*{
  margin: 0;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.screen{
  position: absolute;
  width: 100vw;
  height: 95vh;
  top: 0;
}
canvas{
  background-color: rgba(0, 0, 0, 0.5);
}
button{
  padding: 5px 15px;
  width: 40%;
  background: grey;
  cursor: pointer;
  font-weight: 700;
  color: whitesmoke;
  margin-top: 7px;
}
.choose-btn{
  width: 13%;
  cursor: pointer;
  color: black;
  font-weight: 600;
  background-color: azure;
  border-radius: 5px;
}